.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--black);
  padding: 1.5rem 2.25rem;

  h1 {
    font-size: 1.375rem;
    color: var(--white);
  }

  div {
    button {
      background-color: transparent;
      text-align: center;
      width: 3rem;
      margin-left: 1.25rem;
    }

    img {
      cursor: pointer;
    }
  }
}
